@page "/club"
@inherits BaseContentPage
@code{
    public Club() : base("Club")
    {

    }
}
<style>
    .my_club_title {
        color: #D62020;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        font-weight: 500;
    }

    .my_club_content {
        color: #7F4C4C;
    }

    .my_club_font_size {
        font-size: 32px;
    }

    .my_club_img {
        width: 60%;
        margin: auto;
    }

    .my_club_margin > .row {
        margin-top: 2em;
    }
</style>

<div style="background-color: #F5F5F5">
    <MRow>
        <MImage Src="@GetImg("part1")" />
    </MRow>
    <MRow>
        <div class="my_club_title" style="margin-top:1em;margin-left:1em;">
            @GetContent("part2")
        </div>
    </MRow>
    <MRow Class="my_flex_text">
        <div class="my_flex_text my_margin_auto">
            <div style="color: #9A7D7D;" class="my_margin">
                @GetContent("part3")
            </div>
        </div>
    </MRow>
    <MRow Class="my_margin">
        <MImage Src="@GetImg("part4")" />
    </MRow>
</div>
<div style="background: repeating-linear-gradient(to bottom, #C6D9F0, transparent);padding:3em;">
    <MRow>
        @{
            //
            var clubs = Contents.GroupBy(a => a.ModuleName).Where(a => a.Select(s => s.Type).Distinct().Count() == 2).ToList();
            int median = (clubs.Count / 2);

            var left_contents = clubs.Take(median);
            var right_contents = clubs.Skip(median);

            <MCol Cols="5" Class="my_club_margin">
                @foreach (var item in left_contents)
                {
                    <MRow>
                        <div class="my_club_title">
                            @item.FirstOrDefault(a => a.Remark == "title")?.Content;
                        </div>
                    </MRow>
                    <MRow>
                        <div class="my_club_font_size my_club_content">
                            @item.FirstOrDefault(a => a.Remark != "title")?.Content;
                        </div>
                    </MRow>
                    <MRow>
                        <div>
                            <MImage Src="@item.FirstOrDefault(a=>a.Type==1)?.Content" Class="my_club_img" />
                        </div>
                    </MRow>
                }
            </MCol>
           
            <MCol Cols="5" Class="my_club_margin">
                @foreach (var item in right_contents)
                {
                    <MRow>
                        <div>
                            <MImage Src="@item.FirstOrDefault(a=>a.Type==1)?.Content" Class="my_club_img" />
                        </div>
                    </MRow>
                    <MRow>
                        <div class="my_club_title">
                            @item.FirstOrDefault(a => a.Remark == "title")?.Content;
                        </div>
                    </MRow>
                    <MRow>
                        <div class="my_club_font_size my_club_content">
                            @item.FirstOrDefault(a => a.Remark != "title")?.Content;
                        </div>
                    </MRow>
                }
            </MCol>
        }

    </MRow>

    <MRow>
        <MImage Src="@GetImg("footer")" />
    </MRow>
</div>